<%- include('../partials/header')  %> 
<link rel="stylesheet" href="stylesheets/style.css" />
<h1>Edit Page</h1>
<form action="/bands/edit/<%= band._id%>?_method=PUT" method="POST">
    <label>Name:</label>
    <input type="text" name="name" value="<%=band.name%>">
    <label>Role:
        <select name="role" class="browser-default">
            <option selected><%=band.role%></option>
            <option value="Singer">Voice</option>
            <option value="Violinist">Violin</option>
            <option value="Guitarist">Guitar</option>
            <option value="Pianist">Piano</option>
            <option value="Bassist">Bass</option>
            <option value="Drummer">Drum-kit</option>
        </select>
    </label>
    <br>
    <label>Playing?     
        <select name="playing" class="browser-default">
            <option selected><%=band.playing%></option>
            <option value="true">Yes</option>
            <option value="false">No</option>
            </select>
    </label>
    <br>
    <label>Musical Abilities:</label> 
        <input type="text" name="musicskill" value="<%= band.musicskill.map(i => i).join(', ') %>">
        <input type="submit" class="btn waves-effect waves-light deep-purple darken-1" value="Update">   
</form>