<%- include('../partials/header')  %>
<link rel="stylesheet" href="stylesheets/style.css" />
<h1>Members</h1>
<table id="list">
    <thead>
        <tr>
            <th>Member Name</th>
            <th>Role</th>
            <th>Playing?</th>
            <th>Member Info</th>
            <th>Remove</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% bands.forEach(function(b){%>
            <tr>
                <td><%=b.name %> </td>
                <td><%=b.role%></td>
                <td><%=b.playing ? 'On this week!' : 'Not Playing'%></td>
                <td><a href="/bands/<%=b._id%>" class="btn waves-effect waves-light btn-small deep-purple darken-1">Details</a></td>
                <td><form action="/bands/<%=b._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn-floating waves-effect waves-light red">X</button></td>
                </form>
            </tr>
       <% }); %>
    </tbody>
</table>

<h6><a href="/bands/new" class="btn waves-effect waves-light deep-purple darken-1">Add Member</a></h6>