<%- include('../partials/header')%>
<h2><a href="/bands/edit/<%=band._id%>">Edit Member</a></h2>
<section id="show">
    <div><h4>Name: </h4></div>
    <div><h6><%= band.name %></h6></div><br>
    <div><h4>Role: </h4></div>
    <div><h6><%= band.role %></h6></div><br>
    <div><h4>Playing: </h4></div>
    <div><h6><%=band.playing ? 'Yes' : 'No'%></h6></div><br>
    <div><h4>Date Joined: </h4></div>
    <div><h6><%=band.joined.toDateString()%></h6></div><br>
    <div><h4>Music Abilities: </h4></div>
    <%= band.musicskill.map(i => i).join(', ') %>

  </section>