<link rel="stylesheet" href="stylesheets/style.css" />
<%- include('../partials/header')  %>
<section id="show">
  <div><h4>Name: </h4></div>
  <div><h6><%= band.name %></h6></div><br>
  <div><h4>Role: </h4></div>
  <div><h6><%= band.role %></h6></div><br>
  <div><h4>Playing: </h4></div>
  <div><h6><%=band.playing ? 'Yes' : 'No'%></h6></div><br>
  <div><h4>Date Joined: </h4></div>
  <div><h6><%=band.joined.toDateString()%></h6></div><br>
  <div><h4>Music Abilities: </h4></div>
  <%= band.musicskill.map(i => i).join(', ') %>
  <h2><a href="/bands/edit/<%=band._id%>" class="btn waves-effect waves-light deep-purple darken-1">Edit Member</a></h2>
  </section>
  <h4>Review of Member</h4>
  <form id="add-review-form" method="POST" action="/bands/<%=band._id%>/reviews">
  <textarea name="content"></textarea>
  <label>Review: </label>
  <select name="rating" class="browser-default">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br>
  <input type="submit" class="btn waves-effect waves-light deep-purple darken-1"value="Add Review">
  </form>
<br><br>
  <% if (band.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% var total = 0 %>
        <% band.reviews.forEach(function(r) { %>
          <% total += r.rating %>
          <tr>
            <th><%= r.content %></th>
            <th><%= r.rating %></th>
            <th><%= r.createdAt.toLocaleDateString() %></th>
          </tr>
         <br> 
          <% if (r.comment.length) { %>
            <% r.comment.forEach(function(c) { %>
              <tr>
             <td> <%=c.reviewComment%> </td>
            </tr>
            <%})};%>
            <th>Comments
              <form id="add-comment-form" method="POST" action="/bands/<%=band._id%>/reviews/<%=r._id%>/comments">
                <input type="text" name="reviewComment">  
                <input type="submit" class="waves-effect waves-light btn-small deep-purple darken-1" value="Add Comment"> 
              </form> 
            </th>     
          
          <% });%>
      </tbody>
    </table>
  <% } else { %>
    <h4>No Reviews Yet!</h4>
  <%}%>